/*TABLET*/
@media (max-width: 75em) {
	
    header {
        display: flex;
        justify-content: space-between;
    } 

    .Logo_Image {
        height:3em;
        width:12em;
    }

	.Coder_App_Logo {
		height: 15em;
		width: 15em;
		margin:auto;
	}


}

/*MOBILE*/
@media (max-width: 43.75em) {
	
    header {
        display: block;
        justify-content: center;
        align-items: center;
    } 

    .top {
        display: block;
        margin: 1em auto;
    }

    li{
        margin: .44em;
    }

    .top li:last-child:last-child {
        display: inline;
    }
    
    .Logo_Image {
        height:5em;
        width:22em;
        margin: auto;
    }

    .Sign_Up {
        display: none;
    }

    .Section_App h2 {
		font-size: 1.5rem;
	}
	
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		padding: 2em;
	}

	.Coder_App_Logo {
		height: 15em;
		width: 15em;
		margin:auto;
        margin-bottom: .4em;
	}

	.left_col > p {
		font-size: .9rem;
        text-align: center;
        margin: 1em -6.1em;
        margin-bottom: 2em;
	}

    .left_col {
        margin: auto;
    }

    .right_col {
        margin: auto;
    }

	.FFS {
		display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
	}
    
    .icon-text {
        justify-content: center;
    }

    .block {
        margin-left: -3em;
        margin-bottom: 1.5em;
    }

    section > p {
        margin-top:.5em;
        color:#FFF;
        font-family:FSAlbert, Verdana, Geneva, sans-serif;
        font-size:1.5rem;
        text-align:center;
    }
    
	.PL {
		flex-direction: column;
	}

    .HTML_Img {
        margin-left: auto;
    }
    
    .CSS_Img {
        margin-left: auto;
    }
    
    figure {
        margin:1em;
        padding:.2em;
        padding-top: .7em;
        cursor:pointer;
        transition:background-color 0.50s, color 0.50s;
    }
    
    figcaption {
        margin:0.2em auto;
        padding:.5em;
        cursor:pointer;
        transition:background-color 0.50s, color 0.50s;
    }

    section > h2 {
        text-align:center;
        margin:1em auto;
        padding:0em;
        cursor:pointer;
        font-family:Leelawadee UI, Verdana, Geneva, sans-serif;
        font-size: 1rem;
    }
        
    .Follow_On_SM > p{ 
        font-size: 1.46rem;
        align-items: center;
    } 
    
    .SM_Reddit {
        height:.5em;
        width:.5em;
        margin: 0 1.5em;
    }

    .SM_Twitter {
        height:.5em;
        width:.5em;
        margin: 0 1.5em;
    }
    .SM_Instagram {
        height:.5em;
        width:.5em;
        margin: 0 1.5em;
    }
    
    footer > p {
        text-align: center;
        margin: 1.5em 0;
    }
    
}

