@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color:#2D2B2B;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	margin:0.5em;
	padding:1em;
}



/*  ____________________________  */
/* |                            | */
/* |-----> Navigation Bar <-----| */
/* |____________________________| */

header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5em 2em;
}

.Logo_Image {
	height:2em;
	width:8em;
	cursor:pointer;
}

nav {
	text-align:center;
}

ul {
	list-style-type:none;
}

li {
	text-align:center;
	cursor:pointer;
	margin: 0 1em;
	display:inline;
}

header  nav ul > li:last-child {
	display: none;
}

a {
	color:#FFF;
	text-decoration:none;
}

a:hover {
	color:#0F0;
	text-decoration:underline;
	text-decoration-style:dotted;
}

.Sign_Up {
	height:3em;
	width:3em;
	cursor:pointer;
}

/*  _________________________  */
/* |                         | */
/* |-----> App Section <-----| */
/* |_________________________| */



.Section_App {
	background-color:#4A4A4A;
	padding:2em 0;
	margin-top: 2em;
	display:flex;
	justify-content: space-between;
}


.left_col{
	margin-left: 1em;
	padding-left: 1em;
}

.left_col > p {
	margin:1em 0;
	font-size: 1.1rem;
	width: 25em;
}

.right_col{
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	padding-right: 1em;
}

.Coder_App_Logo {
	height:15em;
	width:15em;
	margin-left: 2em;
	margin-bottom: 0.5em;
}

button {
	background-color:#0C0;
	color:#FFF;
	border:none;
	padding:0.2em;
	font-size:2em;
	font-family:Bahnschrift, sans-serif;
	border-radius:0.3em;
	cursor:pointer;
	transition:background-color 0.50s, color 0.50s;
	margin:0.5em 0;
}

button:hover {
	background-color:#FFF;
	color:#0C0;
}

button:active {
	opacity:0.8;
}

.Get_On_Mobile {
	height:2.7em;
	width:8.8em;
	margin: 0.5em;
}	

/*  _________________________  */
/* |                         | */
/* |-----> FFS Section <-----| */
/* |_________________________| */

.FFS {
	background-color:#4A4A4A;
	display: flex;
	justify-content: space-between;
	padding:2em 1.2em;
	margin-bottom: .5em;
}


.Icon {
	height:3em;
	width:3em;
	margin-top: 1em;
	margin-right: 0.5em;
}

.icon-text{
	display: flex;
}

img + p {
	color:#0F0;
	font-size:2.5rem;
	padding-top:0.2em;
	font-family:Leelawadee UI, sans-serif;
	font-weight:bold;
}

.FFS_Extra > p {
	font-family:Bahnschrift, sans-serif;
	font-size: 2rem;
	margin-left: 1.8em;
}

/*  __________________________________________________  */
/* |                                                  | */
/* |-----> 1000 Courses & Programming Languages <-----| */
/* |__________________________________________________| */

section > p {
	margin-top:2em;
	color:#FFF;
	font-family:FSAlbert, Verdana, Geneva, sans-serif;
	font-size:2rem;
	text-align:center;
}

.PL {
	display:flex;
	margin:1em;
	padding:1em;
	justify-content: space-evenly;
}

.HTML_Img {
	height:5em;
	width:5em;
	margin-left: 1rem;
}

.CSS_Img {
	height:5.5em;
	width:4em;
	margin-left: 1rem;
}

.JS_Img {
	height:5em;
	width:9em;
}

.Python_Img {
	height:5em;
	width:5em;
	margin: 0 1.2rem;
}

figure {
	margin:1em;
	padding:1em;
	cursor:pointer;
	transition:background-color 0.50s, color 0.50s;
}

figcaption {
	margin:0.5em auto;
	padding:2em;
	cursor:pointer;
	transition:background-color 0.50s, color 0.50s;
}

figure:hover {
	background-color:#0F0;
}

section > h2 {
	text-align:center;
	margin:1em;
	padding:0em;
	cursor:pointer;
	font-family:Leelawadee UI, Verdana, Geneva, sans-serif;
}

/*  ____________________  */
/* |                    | */
/* |-----> Footer <-----| */
/* |____________________| */


.Follow_On_SM {
	display:flex;
	gap:1em;
}

.Follow_On_SM > p {
	font-family:Leelawadee UI, Verdana, Geneva, sans-serif;
	font-size:2em;
	font-weight:bold;
	margin-top:0.5em;
}

.SM_Reddit {
	height:2em;
	width:2em;
	position:relative;
	cursor:pointer;
	margin:1em;
}

.SM_Reddit svg{
	height:100%;
	width:100%;
}

.Reddit_Fill {
	position:absolute;
	top:0em;
	left:0em;
	bottom:0em;
	right:0em;
	opacity:0;
	transition:opacity 0.5s ease;
}

.Reddit_Fill:hover {
	opacity:1;
}

.SM_Twitter {
	height:2em;
	width:2em;
	position:relative;
	cursor:pointer;
	margin:1em;
}

.SM_Twitter svg{
	height:100%;
	width:100%;
}

.Twitter_Fill {
	position:absolute;
	top:0em;
	left:0em;
	bottom:0em;
	right:0em;
	opacity:0;
	transition:opacity 0.5s ease;
}

.Twitter_Fill:hover {
	opacity:1;
}

.SM_Instagram {
	height:2em;
	width:2em;
	position:relative;
	cursor:pointer;
	margin:1em;
}

.SM_Instagram svg{
	height:100%;
	width:100%;
}

.Instagram_Fill {
	position:absolute;
	top:0em;
	left:0em;
	bottom:0em;
	right:0em;
	opacity:0;
	transition:opacity 0.5s ease;
}

.Instagram_Fill:hover {
	opacity:1;
}

footer > p {
	font-family:FSAlbert, Verdana, Geneva, sans-serif;
	font-size:1em;
	text-align: left;
	margin-top:1em;
}
